@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Protest+Strike&display=swap');

.animation-container {
    font-size: 1rem;
    font-family: "Merriweather", serif;
    font-weight: bolder;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
}

#dev{
    max-width: 45%;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 20px 5px 0px 5px;
    transition: transform 0.3s ease;
}

#art{
    max-width: 45%;
    margin-left: 50%;
    border-radius: 0px 5px 20px 5px; 
    transition: transform 0.3s ease; 
}

#dev:hover{
    transform: scale(1.1);
}

#art:hover{
    transform: scale(1.1);
}

video{
    display: flex;
}